<!DOCTYPE html>
<html lang="en">
  <!-- HTML file for JavaScript work 00 -->

<html>

  <head>
      <meta charset="UTF-8">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row my-1">
            <div class="col">
                <h4>Covid-19 Growth in NYC </h4><a href="https://www1.nyc.gov/site/doh/health/health-topics/coronavirus.page">Data Source</a>
            </div>
        </div>
        <div class="row my-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chart" width="2500" height="1000"></canvas>
                    </div>
                </div>
        </div>
    </div>

    <script src="static/data.js"></script>
  </body>
</html>
